{% extends 'base_dashboard.html' %}

{% block title %}

Add Task

{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <h2 class="mb-4">

                        ➕ Add New Task

                    </h2>

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">

                                Title

                            </label>

                            {{ form.title }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Description

                            </label>

                            {{ form.description }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Priority

                            </label>

                            {{ form.priority }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Status

                            </label>

                            {{ form.status }}

                        </div>

                        <div class="mb-4">

                            <label class="form-label">

                                Deadline

                            </label>

                            {{ form.deadline }}

                        </div>

                        <button
                            type="submit"
                            class="btn btn-primary w-100">

                            Save Task

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}