{% extends 'base_dashboard.html' %}

{% block title %}My Tasks{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Header -->

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="fw-bold">

                📋 My Tasks

            </h2>

            <p class="text-muted">

                Manage all your tasks efficiently.

            </p>

        </div>

        <a href="{% url 'add_task' %}"

            class="btn btn-primary">

            <i class="fa-solid fa-plus"></i>

            Add Task

        </a>

    </div>


    <!-- Search & Filters -->

    <div class="card shadow-sm border-0 rounded-4 mb-4">

        <div class="card-body">

            <form method="GET">

                <div class="row g-3">

                    <div class="col-md-4">

                        <input

                            type="text"

                            name="search"

                            class="form-control"

                            placeholder="🔍 Search Task"

                            value="{{ request.GET.search }}">

                    </div>

                    <div class="col-md-2">

                        <select

                            name="priority"

                            class="form-select">

                            <option value="">

                                All Priority

                            </option>

                            <option value="High">

                                High

                            </option>

                            <option value="Medium">

                                Medium

                            </option>

                            <option value="Low">

                                Low

                            </option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <select

                            name="status"

                            class="form-select">

                            <option value="">

                                All Status

                            </option>

                            <option value="Pending">

                                Pending

                            </option>

                            <option value="In Progress">

                                In Progress

                            </option>

                            <option value="Completed">

                                Completed

                            </option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <select

                            name="sort"

                            class="form-select">

                            <option value="created">

                                Newest

                            </option>

                            <option value="deadline">

                                Deadline

                            </option>

                            <option value="priority">

                                Priority

                            </option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <button

                            class="btn btn-success w-100">

                            Apply

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>


    {% if tasks %}

    <div class="row">

        {% for task in tasks %}

        <div class="col-lg-6 mb-4">

            <div class="card shadow border-0 rounded-4 h-100">

                <div class="card-body">

                    <div class="d-flex justify-content-between">

                        <h4>

                            <a href="{% url 'task_detail' task.id %}"

                                class="text-decoration-none text-dark">

                                {{ task.title }}

                            </a>

                        </h4>

                        {% if task.priority == "High" %}

                        <span class="badge bg-danger">

                            High

                        </span>

                        {% elif task.priority == "Medium" %}

                        <span class="badge bg-warning text-dark">

                            Medium

                        </span>

                        {% else %}

                        <span class="badge bg-primary">

                            Low

                        </span>

                        {% endif %}

                    </div>

                    <p class="text-muted mt-3">

                        {{ task.description }}

                    </p>

                    <hr>

                    <div class="d-flex justify-content-between">

                        <div>

                            <small class="text-muted">

                                Status

                            </small>

                            <br>

                            {% if task.status == "Completed" %}

                            <span class="badge bg-success">

                                Completed

                            </span>

                            {% elif task.status == "Pending" %}

                            <span class="badge bg-warning text-dark">

                                Pending

                            </span>

                            {% else %}

                            <span class="badge bg-info">

                                In Progress

                            </span>

                            {% endif %}

                        </div>

                        <div>

                            <small class="text-muted">

                                Deadline

                            </small>

                            <br>

                            <strong>

                                {{ task.deadline }}

                            </strong>

                        </div>

                    </div>

                    <hr>

                    <div class="d-flex gap-2">

                        <a href="{% url 'update_task' task.id %}"

                            class="btn btn-warning flex-fill">

                            ✏ Edit

                        </a>

                        <a href="{% url 'delete_task' task.id %}"

                            class="btn btn-danger flex-fill">

                            🗑 Delete

                        </a>

                    </div>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="card border-0 shadow rounded-4">

        <div class="card-body text-center py-5">

            <h1>

                📋

            </h1>

            <h3>

                No Tasks Found

            </h3>

            <p class="text-muted">

                Start by creating your first task.

            </p>

            <a href="{% url 'add_task' %}"

                class="btn btn-primary">

                ➕ Create Task

            </a>

        </div>

    </div>

    {% endif %}

</div>

{% endblock %}